/* General (big) */

body{
    background-color: #fcd8c5;
}
h1{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 9rem;
  color:#ea8a24;    
  text-align: center;
}
h2{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4.5rem
}
p{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 353;
  font-style: normal;
  color: rgb(49, 57, 111);
}



a{
  text-decoration: none;
}

/*Nav BAR*/
.nav_1 {
  background-color:#9db7b4;
  border-radius: 5px;
  padding: 1.5vw 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav h1{
  color: #9db7b4;
}
.Taraicon img{
  width: 6vw;
  height: 6vw;
  min-width: 50px;
  max-width: 100px;
  padding-top: 10px;
}

.page-title {
  margin: 0;
  white-space: nowrap;
  font-size: 5vw;
}

/*Nav Hamburger*/

.Nav-container{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.nav_1 {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:#9db7b4;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav_1 h1{
  color:#ea8a24;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
  width: 35px;
  height: 25px;
  padding: 12px;
  box-sizing: content-box;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 4px;
  background-color:#ea8a24;
  border-radius: 10px;
}

.menu-icon span:not(:last-child) {
  margin-bottom: 6px;
}

nav ul {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-bottom: 4px;
}

nav ul li a {
  text-decoration: none;
  color: #4f5d4a;
  font-family: "Open Sans", sans-serif;
  display: block;
  padding: 14px 20px;
  transition: color 0.2s ease, background-color 0.2s ease;
  text-align: center;
}

nav ul li a:hover {
  color:#f3692f;
  background-color: #f5e6d8;
  
}

.menu-icon:hover + nav ul,
nav ul:hover {
  display: flex;
}

nav ul li a:hover{
  border-radius: 10px;
  text-align: center;
}


/*Home page Paralax*/

.site-title{
  position: fixed;
  width: 100%;
  text-align: center;
}

.site-header{
  background-image: url(images/TaraWNP.png);
  background-position: bottom;
  background-size: cover;
  padding: 5rem;
  min-height: 100vh;
  position: relative;
}

.site-header-mask{
  position: absolute;
  inset: 0;
  mask: url(images/TaraC.png);
  mask-position: bottom;
  mask-size: cover;
}

/*Home Page headers*/


.Opentext h2 {
  color:#ea8a24;
}
.Opentext p {
  font-size: 1.3rem;
  padding-bottom: 40px;
}

.imagesbs{
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 40px; 
  width: 30%;
  flex-shrink: 0;
  border-radius: 40px;
  margin-right: 20px;
}

/*Home page blurb*/
.Opentext{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  max-width: fit-content;
}



/*About link*/

.side-by-side-one {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.side-by-side-one img {
  flex-shrink: 0;
  width: 25%;
  border-radius: 40px
}

.side-by-side-one img {
  transition: transform 0.3s ease;
}

.side-by-side-one img:hover{
  transform: scale(1.15);
}


.text-block-one{
  display: flex;
  flex-direction: column;
}

.text-block-one p {
  max-width: 500px;
  font-size: 1.3rem;
}

.AH1 {
  color:#eb889e;
}

.side-by-side-one a {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

/*About Link*/

.side-by-side-two {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 2em;
}

.side-by-side-two img {
  flex-shrink: 0;
  width: 25%;
  border-radius: 40px
}

.text-block-two {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-width: 500px;
  margin-left: auto;  
}

.text-block-two p {
  max-width: 500px;
  text-align: right;
  font-size: 1.3rem;

}

.TH1 {
  color:#f3692f;
}

.side-by-side-two a {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row-reverse;
  width: 100%;
  text-decoration: none;
  color: inherit;
}


.side-by-side-two img {
  transition: transform 0.3s ease;
}

.side-by-side-two img:hover{
  transform: scale(1.15);
}

/*Archive (reused SBS1 code)*/

.AVH1 {
  color:#9db7b4;
}














/*Archive/*

/*Carousel*/

.carouselH{
  color: #eb889e;
}

.carousel {
  margin: auto;
  width: 100%;
  overflow: hidden;
  padding: 2em 0;
}

.carousel-track{
  display: flex;
  width: max-content;
  animation: scroll 25s infinite linear;
}

.group {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding-right: 1.5em;
}

.carousel::-webkit-scrollbar {
  display: none;
}


@keyframes scroll {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-50%)

  }
}

.carousel::-webkit-scrolslbar {
  display: none;
}

.card {
  flex: 0 0 6em;
  height: 7.5em;
  width: auto;
  padding: 1em;
  font-size: 3rem;
  text-align: center;
  border-radius: 0.1em;
}

.card a{
  display: block;
  width: 100%;
  height: 100%;
}


.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 12px;
  transition: transform 0.3s ease;
}


.carousel img {
  transition: transform 0.3s ease;
}

.carousel img:hover {
  transform: scale(1.3);
}

/*Flip cards*/

.HSPSlineup{
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flip-card{
  width: 300px;
  height: 400px;
  cursor: pointer;
  perspective: 1000px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back{
  position:absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 24px;
  box-shadow: 0 4px 8px #cdad9c;
}


.flip-card-back{
  background:#9db7b4;
  color:#ea8a24;
  transform: rotateY(180deg);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 0 19px;
}

.flip-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
}

.flip-card-front{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.aries-front   { background-image: url(images/); }
.taurus-front  { background-image: url(images/Taurus.png); }
.gemini-front  { background-image: url(images/Gemini.png); }
.cancer-front  { background-image: url(images/Cancer.png); }
.leo-front  { background-image: url(images/Leo.png); }
.virgo-front  { background-image: url(images/Virgo.png); }
.libra-front  { background-image: url(images/7.png); }
.scorpio-front  { background-image: url(1mages/Scorpio.png); }
.sag-front  { background-image: url(images/Sag.png); }
.sag-back h2{
  font-size: 3.2rem;
}
.cap-front  { background-image: url(images/Cap.png); }
.cap-back h2{
  font-size: 3.2rem;
}
.aqu-front  { background-image: url(images/Aqu.png); }
.aqu-back h2 {
  font-size: 3.2rem;
}
.pisces-front {background-image: url(images/pisces.png);}


.horoscopes{
  color: #eb889e;
}


/*Tara Tells*/

.Tara-Tells{
  color:#f3692f;
}

.taratells p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #4f5d4a;
}

.tarah2{
  font-size: 2rem;
  padding: 40px;
  display: flex;
  text-align: center;
  color:#eb889e;
}

.typing {
  display: inline-block;
  animation: typing 4s steps(40, end) forwards;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
}


@keyframes typing {
  0%   { width: 0; border-right-color: transparent; }
  1%   { border-right-color: var(--cursor-color); } /* cursor turns on right as typing starts */
  99%  { border-right-color: var(--cursor-color); } /* stays visible while typing */
  100% { width: 100%; border-right-color: transparent; } /* cursor disappears once done */
}
.taratells img{
  height: 400px;
  width: auto;
}

.line1 { animation-delay: 0s;
padding-top: 80px; }
.line2 { animation-delay: 4s;
padding-top: 0.4em; }
.line3 { animation-delay: 8s;
padding-top: 0.4em; }
.line4 { animation-delay: 12s;
padding-top: 0.4em; }
.line5 { animation-delay: 16s;
padding-top: 0.4em; }
.line6 { animation-delay: 20s;
padding-top: 0.4em; }
.line7 { animation-delay: 24s;
padding-top: 0.4em; }
.line8 { animation-delay: 28s;
padding-top: 0.4em;}







/*Smooth scrolling*/
html {
  scroll-behavior: smooth;
}

/*Back to top button*/
.back-to-top{
  position:fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color:#ea8a24;
  color:#f3692f;
  text-decoration: none;
  border-radius: 60px;
  z-index: 1000;
  transition: transform 0.2s ease, backround-color 0.2s ease;
}

.back-to-top:hover{
  border: solid #eb889e;
}







/*About page*/

.Grouppic{
  width: 100%;
  height: auto;
}

.inabout{
  padding-top: 20px;
  padding-bottom: 20px;
}

.inabout h2{
  color: #f3692f;
}

.Teamsection h2{
  text-align: center;
  color:#eb889e;
  padding-top: 0.3em;
}

.Teamsection p{
  text-align: center;
  padding-top: 10px;
  padding-left:3em;
  padding-right: 3em;
  font-size: 1.2rem;
}

.Teamsection{
  padding-bottom: 2em;
}

.text-block-one about{
  font-optical-sizing: auto;
}

.p2{
  padding-top: 1em;
}








/*Footer*/


.Footer ul{
  text-align: center;
  padding-top: .7em;
  padding-bottom: .7em;
  background-color: #eb889e;
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style-type: none;
  justify-content: center;
}

.Footer ul li a {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  padding: 20px 20px; 
}

.Footer ul li a:hover {
  color:#f3692f;
  background-color: #f5e6d8;
  border-radius: 10px;
  text-align: center;
}


